.list-products {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.modal-custom {
    position: fixed;
    z-index: 1;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #bca388;
    width: 50vw;
    height: 60vh;
    box-shadow: 1px 5px 5px #00000047;
    border-radius: 5px;
    padding: 20px;
    overflow: hidden;
    border: solid 10px #554740;
}
.modal-custom svg {
    position: absolute;
    right: 10px;
    top: 40px;
    cursor: pointer;
}

.modal-custom img {
    width: 100%;
}