.nav{
    justify-content: flex-end;
    font-size: 18px;
    background-color: #554740 !important;
    
}

.dropdownMenu a:hover{
    background-color: #bca388 !important; 
    
}

.dropdownMenu{
    background-color: #554740;
}

.conteiner{
    width: 100vw;
}

.txtMate{
    line-height: normal;
}


.cart button{
    background: none;
    border: none;
    color: white;

}

a{
    text-decoration: none;
}

svg:hover{
    color: white;
}

.cart button:hover{
    color: white;
}




