.nav{
    background-color: rgba(0, 0, 0, 0.74);
    justify-content: flex-end;
    /* font-family: 'Edu TAS Beginner', cursive; */
    /* font-family: 'Bebas Neue', cursive; */
    font-size: 18px;
    
}
/* .dropdownMenu{
    background-color: rgba(0, 0, 0, 0.753);
} */

.conteiner{
    width: 100vw;
}

.txtMate{
    line-height: normal;
}


.cart button{
    background: none;
    border: none;
    color: white;

}


